<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
    </head> 
    
    <body>
    {% include "navigation-bar.html" %}
    <main>
        <div class="sub-header ">
            <div class="h1_center">
            <h1>Empower Your Voice: Vote Now!</h1>
            <p class="explain">Your vote is your voice, your power, and your chance to shape the future you want to see. Every ballot cast is a step towards progress, equality, and positive change. Together, let's make our voices heard, our choices count, and our democracy stronger. Don't sit on the sidelines—step up, vote, and be a part of building a better tomorrow for all.</p>
            <a class="read_more" href="#BOTTOM">read more</a>
        
            </div>
        </div>
    </div>
    </div>
        <section>
                <!--page container-->
            <section  class="container">
                <div class="section">
                    <div class="row justify-content-center mb-5">
                    <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="info"> HOW DOES IT WORK?</h2>
                </div>
                </div>
                            <p class="ex">Our voting website allows users to conveniently cast their votes online for various elections or polls. Users can create accounts to securely log in and access the available voting options. Upon selecting their choices, they can submit their votes electronically through the platform. Measures are in place to ensure the voting process is secure and accurate, giving users confidence in the integrity of the results. Additionally, our website offers features like voter verification, real-time result tracking, and convenient access from various devices to enhance the overall voting experience for users.</p> 
                            </div>
                        </div>
                    </div>
                    </section>
                        <!--step 1-->
                        <section  class="box-area">
                            <div class="wrapper">
                            <div class="box">
                                <div class="row">
                    <img src="../static/images/selecting2.png" alt="step 1">
                    <div class="overlay">
                    <h3>Step 1: Access the Voting Page</h3>
                    <p>Navigate to the current elections page.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                        <!--step 2-->
                        <section  class="box-area">
                            <div class="wrapper">
                        <div class="box">
                            <div class="row">
                <img src="../static/images/vote2.png" alt="step 2">
                <div class="overlay">
                <h3>Step 2: Cast Your Vote</h3>
                <p>Select the option or candidate you want to vote for.</p> 
                 <p>Click the "Vote" or "Submit" button to finalize your choice</p>
            </div>
        </div>
    </div>
</div>

            </section>
        </section>    

  

            <!--Brief summary-->
                 <section class="ind">
                    <div class="container-fluid">
                        <div class="row d_flex">
                            <div class="col-md-6">
                                <div class="titlepage">
                                    <div id="BOTTOM"></div>
                                    <h2>South Africa's independence</h2>
                                    <p> The apartheid era, beginning in 1948, saw the implementation of institutionalized racial segregation and discrimination, leading to increased domestic and international pressure for reform. The struggle against apartheid was marked by both peaceful protests and armed resistance, culminating in the release of Nelson Mandela in 1990 and the subsequent dismantling of apartheid policies. South Africa's full independence was finally realized with the first nonracial, democratic elections in 1994, leading to a majority rule government and the establishment of a new constitution. This transition marked the end of colonial and minority rule and the beginning of a new era in South African history.</p>
                                    </div>
                                    </div>
                                    <div class="col-md-6 padding_right2">
                                        <div class="ind_img">
                                           <figure><img src="../static/images/indie 3.jpg" alt="#"></figure>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </section>
                    </section>
                        


                    



    </main>
</body>
</html>
